@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gloria+Hallelujah&family=Handlee&family=Indie+Flower&family=Pacifico&family=Rancho&family=Reenie+Beanie&family=Rochester&family=Sacramento&family=Shadows+Into+Light&display=swap');
@font-face {
    font-family:Anada;
    src: url(fonts/Ananda\ Namaste\ Regular.ttf);
  }
:root{
    --primary-color: #fff;
    --background-color: #939b62;
    --text-color: #ffd56b;
    --card-direction:1;
    --card-displacement:100%;
    --translate-3d-x:100px;
    --card-rotation:20deg;
    --animation-duration:0.3s;
    --header-height:25vh;
    --footer-height:10vh;
    --header-font-height:6vmax;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    max-width: 100%;
    font-family: 'Itim', cursive;
    font-size: 5vmin;
    background: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    height: var(--header-height);
    /* font-family: 'Anada', cursive; */
    background-color: var(--text-color);
    color: var(--background-color);
}
.header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header-font-height);
    height: var(--header-height);
}
.input-cursor {
    display: inline-block;
    width: 2px;
    height: var(--header-font-height);
    background-color: var(--background-color);
    margin-left: 8px;
    position: relative;
    top: 10px;
    right: 20px;
    animation: blink .6s linear infinite alternate;

}
.video-bg-div{
    height: calc(100vh - var(--header-height));
    background-color: linear-gradient(0deg, #d53369 0%, #daae51 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#video-bg-video{
    width: 100vw;    
}
.timeline-header-div{
    height: var(--header-height);
    background-color: var(--text-color);
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--header-font-height);
    margin-bottom: 100px;
}

section{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.card-li{
    width: 25vw;
    height: 45vh;
    list-style-type: none;
    border: 0.5px solid var(--text-color);
    border-radius: 5%;
    transition: all var(--animation-duration) ease-in-out;
    cursor: pointer;
    color: var(--text-color);
}
.card-li:hover{
    color: var(--background-color);
    background-color: var(--text-color);
    background-image: none;
    font-size: 12vmin;
}
.timeline-scroll-circle-div{
    position: absolute;
    left: calc(50% - 6vh);
    top: 130vh;
    border-radius: 50%;
    height: 14vh;
    width: 14vh;
    background-color: var(--text-color);
}
.timeline-fixed-circle-div{
    position: absolute;
    top: 135vh;
    left: calc(50% - 3vh);
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    background-color: var(--text-color);
}
.timeline-scroll-div{
    position: absolute;
    left: 50%;
    height: 1vh;
    width: 1%;
    background-color: var(--text-color);
}

.year-2005{
    background-image: url("img/Nikhil_2005.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2006{
    background-image: url("img/Nikhil_2006.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2007{
    background-image: url("img/Nikhil_2007.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2008{
    background-image: url("img/Nikhil_2008.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2009{
    background-image: url("img/Nikhil_2009.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2010{
    background-image: url("img/Nikhil_2010.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2011{
    background-image: url("img/Nikhil_2011.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2012{
    background-image: url("img/Nikhil_2012.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2013{
    background-image: url("img/Nikhil_2013.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2014{
    background-image: url("img/Nikhil_2014.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2015{
    background-image: url("img/Nikhil_2015.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2016{
    background-image: url("img/Nikhil_2016.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;

}
.year-2017{
    background-image: url("img/Nikhil_2017.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;

}
.year-2018{
    background-image: url("img/Nikhil_2018.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;

}
.year-2019{
    background-image: url("img/Nikhil_2019.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
}
.year-2020{
    background-image: url("img/Nikhil_2020.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.year-2021{
    background-image: url("img/Nikhil_2021.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    display: none;
}
.odd-card{
    position: relative;
    right: calc(var(--card-displacement)*var(--card-direction));
}
.even-card{
    position: relative;
    right: calc(-1*var(--card-displacement)*var(--card-direction));
}
.hidden-card.even-card{
    visibility: hidden;
    opacity: 0;
    transform: translate3d(calc(var(--translate-3d-x)*var(--card-direction)), -10px, 0) rotate(calc(-1*var(--card-rotation)*var(--card-direction)));
}
.hidden-card.odd-card{
    visibility: hidden;
    opacity: 0;
    transform: translate3d(calc(-1*var(--translate-3d-x)*var(--card-direction)), -10px, 0) rotate(calc(var(--card-rotation)*var(--card-direction)));
}
.last-card-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-card{
    position: relative;
    margin-top: 100px;
    width: 80vw;
    border-radius: 1%;
    font-size: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-card:hover{
    color: var(--background-color);
    font-size: 6vh;
}
.last-card-hover{
    color: var(--background-color);
    font-size: 6vh;
    background-color: var(--text-color);
}
footer{
    display: flex;
    justify-content: center;
    height: var(--footer-height);
    background-color: var(--text-color);
    color: var(--background-color);
    align-items: center;
    margin-top: 100px;
}